{
	servers {
		protocols h1 h2
	}
}

https://reserve-sin.duckdns.org:8443 {
	encode zstd gzip

	@app path /app/*
	handle @app {
		basicauth {
			{$RESERVE_SIN_WEB_BASIC_AUTH_USER} {$RESERVE_SIN_WEB_BASIC_AUTH_HASH}
		}
		header {
			Content-Security-Policy "default-src 'self'; base-uri 'self'; form-action 'self'; frame-ancestors 'none'"
			X-Content-Type-Options "nosniff"
			Referrer-Policy "no-referrer"
			X-Frame-Options "DENY"
			Cache-Control "no-store"
		}
		root * /opt/reserve-sin/web
		file_server
	}

	@app_api path /app-api/*
	handle @app_api {
		basicauth {
			{$RESERVE_SIN_WEB_BASIC_AUTH_USER} {$RESERVE_SIN_WEB_BASIC_AUTH_HASH}
		}
		header {
			X-Content-Type-Options "nosniff"
			Referrer-Policy "no-referrer"
			X-Frame-Options "DENY"
			Cache-Control "no-store"
		}
		uri strip_prefix /app-api
		reverse_proxy 127.0.0.1:8080 {
			header_up Authorization "Bearer {$RESERVE_SIN_API_TOKEN}"
		}
	}

	handle {
		reverse_proxy 127.0.0.1:8080
	}
}
